html {
  font-family: 'Spectral SC', serif;
  font-family: 'Barlow Condensed', sans-serif;
}

a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.responsive {
  max-width: 100%;
}

/* header settings and navigation */

.header-grid {
  display: grid;
  background-color: #AD0909;
  color: #fff;
}
.header-grid a {
  color: #fff;
  font-size: 18px;
}

.header-center {
  grid-area: header-center;
}

.header-mobile {
  grid-area: header-mobile;
}

.header-left {
  grid-area: header-left;
  margin-left: 5%;
}



/* content / main settings */

.content-grid {
  display: grid;
  color: #152228;
  background-image: url('../images/banner.jpg');
  background-position: center;
  background-color: #f7fcff;
}

.content {
  grid-area: main;
}

.grid-navigation {
  margin-top: 25px;
}
.grid-navigation ul {
  list-style-type: none;
}

.grid-navigation li {
  display: inline;
  padding-right: 0.5em;
}


.hero {
  grid-area: hero;
  padding: 0;
}

/* footer settings */

.footer{
  margin: 0;
  padding: 10px;
  background-color: #000;
  color: #fff;
}

/* settings for small screens like Smartphones */

@media (min-width: 120px) and (max-width: 767px) {
  .header-grid {
    grid-template-columns: 45% 55%;
    grid-template-areas: "header-mobile header-center";
    position: fixed;
    background-color: white;
    width: 100%
  }
  .header-left {
    display: none;
  }
  .header-right {
    display: none;
  }
  .content-grid {
    grid-template-columns: auto;
    grid-template-areas: "hero";
    padding-top: 3em;
  }
  .content-grid>div {
    padding: 2em;
  }
 
  .info {
  position: relative;
  top: 100px;
  left: 25%;
  width: 50%;
  height: 20px;
  background-color: rgba(84,1,1, 0.8);
  }

}

/* medium sized screens like tablets or netbooks */

@media (min-width: 768px) and (max-width: 1024px) {
  .header-grid {
    grid-template-columns: 60% 20% 20%;
    grid-template-areas: "header-left header-center header-right";
  }
  .header-grid>div {
    padding: 1em;
  }
  .header-mobile {
    display: none;
  }
  .content-grid {
    grid-template-columns: auto;
    grid-template-columns: 33% auto;
    grid-template-areas: "hero hero";
  }
  .content-grid>div {
    padding: 2em;
  }
}

/* Large Screens */

@media (min-width: 1025px) {
  .header-grid {
    justify-content: space-between;
    grid-template-columns: 70% 15% 15%;
    grid-template-rows: auto;
    grid-template-areas: "header-left header-center header-right";
  }
  .header-mobile {
    display: none;
  }
  .content-grid {
    grid-template-columns: 20% 5% 65% auto;
    height: 520px;
    grid-template-areas: "hero hero hero hero";
  }
  .content-grid>div {
    padding: 1em;
  }
  .info {
  position: relative;
  top: 100px;
  left: 25%;
  width: 50%;
  height: 220px;
  background-color: rgba(84,1,1, 0.8);
  }
}

/** Login and Sign Up Form **/

.login-card {
  padding: 40px;
  width: 35%;
  background-color: rgba(72,55,42, 0.5);
  margin: 50px auto;
  overflow: hidden;
  color: #fff;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=email], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.login-card input[type=email]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
}

.login-submit {
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #40d217;
}

.login-submit:hover {
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #40d217;
}

.login-card a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-card a:hover {
  opacity: 1;
}

.login-help {
  width: 100%;
  text-align: center;
  font-size: 12px;
}


/** User Dashboard **/
.user-dashboard {
  --spacing: 2rem;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  height: 100vh;
  grid-template-rows:1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "nav    main" "footer footer";
}
.user__nav {
  flex: 0 0 250px;
  grid-area: nav;
  background-color: #540101;
}


/** Admin Dashboard CSS **/

.admin {
  --spacing: 1rem;
  display: flex;
  flex-wrap: wrap;
  display: grid;
  height: 100vh;
  grid-template-rows: 70px 1fr 70px;
  grid-template-columns: 250px 1fr;
  grid-template-areas: "header header" "nav    main" "footer footer";
}
.admin__header {
  display: flex;
  flex-basis: 100%;
  grid-area: header;
  height: 70px;
  background-color: #313541;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  position: relative;
}
.admin__nav {
  flex: 0 0 250px;
  grid-area: nav;
  background-color: #313541;
}
.admin__main {
  flex: 1;
  grid-area: main;
  padding: var(--spacing);
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #f4f7fa;
}
.admin__footer {
  display: flex;
  grid-area: footer;
  flex-basis: 100%;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 var(--spacing);
  color: #4e5561;
  background-color: #1d2127;
}
@media screen and (min-width: 48rem) {
  .admin {
    --spacing: 2rem;
  }
}

.dashboard {
  --column-count: 2;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing) * -0.5);
  display: grid;
  grid-template-columns: repeat(var(--column-count), 1fr);
  grid-gap: var(--spacing);
}
.dashboard__item {
  flex: 1 1 50%;
  grid-column-end: span 2;
  padding: calc(var(--spacing) / 2);
}
.dashboard__item--full {
  flex-basis: 100%;
  grid-column: 1 / -1;
}
.dashboard__item--col {
  flex-basis: calc(100% / var(--column-count));
  grid-column-end: span 1;
}
@media screen and (min-width: 48rem) {
  .dashboard {
    --column-count: 4;
  }
}
@supports (display: grid) {
  .dashboard {
    margin: 0;
  }
  .dashboard__item {
    padding: 0;
  }
}

a {
  color: #dc5a60;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo {
  display: flex;
  flex: 0 0 250px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0;
  color: #fff;
  background-color: #AD0909;
  font-size: 1rem;
}
.logo h1 {
  margin: 0;
}

.toolbar {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing);
}

.menu{
  list-style-type: none;
  padding: 0;
}
.menu__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
.sub-menu, .sub-menu-sub {
  display: none;
}
.menu__item:hover .sub-menu {
  display: block;
}
.sub-menu:hover .sub-menu-sub{
  display: block;
}
.menu__link {
  display: block;
  padding: 1rem 2rem;
  color: #76808f;
  text-decoration: none;
}
.menu__link:hover, .menu__link:focus {
  color: #fff;
  background-color: #540101;
}

.card {
  height: 100%;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 300;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.btn {
  display: inline-block;
  border-radius: 5em;
  border: 0;
  padding: 0.5rem 1rem;
  white-space: nowrap;
}
.btn--primary {
  color: #fff;
  background-color: #56bf89;
}

.ticker {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.ticker__item {
  margin-right: 1rem;
}

/** Admin  Table **/

table {
 margin: auto;
  border-collapse: collapse;
  display: block;
  margin-top: 2rem;
  width: fit-content;
  font-size: 22px;
}

td, th {
  padding: .5rem;
}



th {
  text-align: left;
  background-color: rgb(190, 220, 250);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

td {
  white-space: nowrap;
}
}
